* {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: 'Inter', sans-serif;
    line-height: 1.6;
    color:#333333;
    
  }

  /* Sidebar or Navbar Style Only */

  .sidebar {
      position: fixed;
      z-index: 1000;
      top: 0;
      background: #ffffff;
      width: 100%;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
      
  }

  .sidebar ul {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    display: flex;
    list-style: none;
    gap: 2rem;
    justify-content: center; /* Changed: center menu di navbar */
    align-items: center; /* Changed: center vertikal */
      
  }

  .sidebar ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #4b5463;
    padding: 0.5rem 1rem;
    border-radius: 10px; 
}



  .sidebar a:hover {
    color: #3b82f6;
    
  }


  .nav-sidebar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-links {
    display: flex;
    list-style: none;
    gap: 20px;
  }

  .nav-links li a {
    text-decoration: none;
    color: inherit;
    font-weight: 500;
  }

  .logo {
    font-size: 24px;
    font-weight: bold;
  }

  .menu-toggle {
    font-size: 28px;
    cursor: pointer;
    display: none; /* Hidden by default (desktop mode) */
  }


  .spacer2 {
      background: aliceblue;  
      display:flex;
      justify-content: center;
      align-items: center;
      padding-bottom:2rem;
      
  }
  .spacer-line{
    width: 72rem;
    height: auto;
    background-color: #3b82f6;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);

  }

  .spacer-line ul {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      color:#fafafc;
      display: flex;
      list-style: none;
      gap: 6rem;
      justify-content: center; 
  }

  /* Hmome Only */
  .home {
      padding-top: 7rem;
      padding-bottom: 8rem;
      background-color: aliceblue;  
  }

  img.profile1 {
      border-radius: 50%;
      width: 20rem;
      display: block;
      margin: auto auto;
      border: 5px solid white; 
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); 
  
  }

  .home-container{
      box-sizing: border-box;
  }

  /* Buttton */

  .button-group {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
  }
  
  .btn {
    background-color: #3b82f6;
    color: white;
    padding: 0.75rem 1.5rem;
    text-decoration: none;
    border-radius: 10px;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  
  .btn-2{
    background-color: aliceblue;
    color: #3b82f6;
    padding: 0.75rem 1.5rem;
    text-decoration: none;
    border-radius: 10px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    border: 1px solid #3b82f6;
  }
  
  .btn:hover {
    background-color: rgb(12, 86, 197);
  }

  .btn-2:hover {
    background-color: #3b82f6;
    color: aliceblue;
  }
  

  /* About */
  .about{
    padding-top: 5rem;
    padding-bottom: 7rem;
    background-color: #fafafc;
      
  }

  .about-container{
      box-sizing: border-box;
      width:67%;
  }
  .profile2-container{
    width:33%;
    max-width: 20rem;
}

  img.profile2 {
    border-radius: 7%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    margin: auto auto;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
  }

  

  /* Edu */
  .edu{
    padding-top: 5rem;
    padding-bottom: 7rem;
    background-color:aliceblue;
  }

 

  .edu-container-split{
    height:auto;
    width :50%;
    background-color: #d8eaff;
    padding:2rem;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);

  }

  .edu-content{
    padding: 1px 0.25rem;
    padding-left:0.5rem;
    color: black;
    border-left: 5px solid #3B82F6;

  }
  .edu-gap{
    column-gap: 3rem;
  }

  /* Work */

  .work{
    padding-top: 5rem;
    padding-bottom: 7rem;
    background-color: #fafafc;

  }


  .project{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
  }

  .project-container{
    background: white;
    color:#3B82F6;
    width: 250px;
    border-radius: 20px;
    overflow: hidden; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 350px;
    transition: transform  0.3s,background-color 0.3s;
    border: 1.5px solid #3b82f6;
  }

  .project-image {
    flex: 1;
    overflow: hidden;
    
  }
  .project-image img {
    width: 100%;
    height: auto;
    max-height: 300px;
    object-fit: contain; 
  }

  .project-container:hover {
    transform: scale(1.05);
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3);
    background-color:#3B82F6;
    color:#ffffff;
    
  }

  .project-description {
    padding: 1rem;
    text-align: center;
  }

  

  /* Contact only */

  .contact{
    padding-top: 3rem;
    padding-bottom: 7rem;
    background-color:aliceblue;

  }

    .contact-container-split{
    width:50%;
    padding:1rem 1rem;
    text-align:left;
    }

    .contact-gap{
        gap:3rem;
    }

  /* Footer */
  footer{
    background: #202938;
    color: #ffffff;
    padding: 20px; 
  }

  h1{
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }

  .font-m{
    font-weight: 500;
  }

  .px-4{
    padding-left: 1rem;
    padding-right:1rem;
  }
  .max-w-xl{
    max-width: 72rem;
  }

  .color-text{
    background: linear-gradient(90deg, #3B82F6,#10B981);
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    }

  .color-text-black{
    color: rgb(31 41 55 );
  }

  .color-text-dblue{
    color: #3b82f6;
  }

  .color-text-fade{
    color:#5f6369;
  }

  .line{
    height:0.25rem;
    width:5rem;
    background: linear-gradient(90deg, #3B82F6,#10B981);

  }

  .mx-auto{
    margin-left: auto;
    margin-right: auto;
  }
  .items-center{
    align-items: center;
  }

  .text-center{
    text-align: center;
  }

  .gap-2r {
      column-gap: 2rem;
  }
  .gap-4r{
    column-gap:1.5rem;
  }

  section {
      min-height: 25vh;
  }

  .justify{
      justify-content: center;
  }

  .width-50 {
      width:50%;
  }

  .mb-2 {
    margin-bottom: 2rem;
  }

  .mb-1{
    margin-bottom:0.25rem;
  }
  .mb-3{
    margin-bottom:1rem;
  }
  
  .flex {
      display: flex;
      flex:1;
  }

  .container {
      display: flex;
  }

  .pd-l-3{
    padding-left: 3rem;
  }
  .pd-l-5{
    padding-left: 5rem;
  }

  .pd-l-10{
    padding-left: 10rem;
  }

  .icon-inline {
    width: 20px;
    height: 20px;
    margin-right: 8px;
    vertical-align: middle;
    transform: translateY(-2px);
    transition: transform 0.3s ease;
  }



  @media (max-width: 768px) {
    .container {
      flex-direction: column; 
      row-gap: 2rem;;
    }
    
    .home{
      padding-bottom:6rem;
      padding-top:5rem;
    }
    .home-container, .mb-2, .about-container {
      width: 100%; 
    }
    img.profile1{
      max-width:17rem;
    }

    .line{
      width:5rem;
    }
    .profile2-container{
      width:100%;
      margin-bottom: 20px;
      max-width:17rem;
      margin-left: auto;
      margin-right: auto;
    }

    img.profile2{
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    .nav-sidebar{
      height:4rem;
    }

    .menu-toggle {
      display: block;
    }


    .sidebar ul{
      margin-top:0;
      padding-top:1rem;
      justify-content:left;
      gap:1rem;
      align-items:baseline;
  }

    .nav-links {
      z-index: 99;
      position: absolute;
      top: 4rem;
      left: -100%;
      width: 50%;
      height: 100vh;
      background-color: white;
      flex-direction: column;
      text-align: left;
      align-items: flex-start;
      padding-right: 5rem;
      gap: 20px;
      transition: 0.3s;
      box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    }

    .nav-links.active {
      left: 0;
    }

    .spacer-line{
      border-radius:0;
      padding-left:5px;
      padding-right:5px;
    
    }
    .max-w-6xl{
      padding-left:1rem;
      padding-right:1rem;
    }
    .spacer2 ul {
      gap: 1rem; 
    }
    .gap-4r{
      column-gap: 3rem;
    }
    h1{
      font-size: 2rem;
      font-weight: bold;
      margin-bottom: 0.25rem;
    }
    .project {
      flex-direction: column; 
      align-items: center; 
    }

    .width-50{
      width:100%;
    }
    .pd-l-3{
      padding-left: 0;
    }

    .edu-container-split{
      width:100%;
    }

    .pd-l-5{
      padding-left: 0;
    }
  
    .pd-l-10{
      padding-left: 0;
    }
    .project{
      row-gap:1.5rem;
    }
    .project-container{
      width:300px;
      
    }
  }
  

  @media (max-width: 440px) {
   
  }