* {
    box-sizing: border-box;
  }

:root {
  scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #96c6dac9;
    display: flex;
    
    min-height: 100vh;
}

.sidebar {
    width:250px;
    background-color: #1a7dca;
    color: white;
    padding: 20px;
    position: fixed;
    height: 100%;
}

.sidebar h1 {
    font-size:24px;
    margin-bottom: 10px;
}

.sidebar p {
    font-size: 14px;
    color: white;
    margin-bottom: 30px;
}


.sidebar a {
    display: block;
    color: white;
    text-decoration: none;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
}


.sidebar a:hover {
    background-color: red;
  }


.main-content {
    margin-left: 250px;
    padding: 30px;
    flex-grow: 1;
  }

.main-content ul li {
    padding: 10px;
}
.main-content h1 {
  background-color: yellow;
  padding: 5px;
  border-radius: 5px;
  display: inline-block;
}
  section {
    margin-bottom: 50px;
  }

.footer {
    text-align: center;
    padding: 15px;
    background-color: rgb(166, 191, 197);
   
    
  }
  
  @media (max-width: 567px) { 
    img { width: 100%; } 
    }